@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Thin.ttf");
  font-style: thin;
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-ExtraLight.ttf");
  font-style: extra-light;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Light.ttf");
  font-style: light;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Regular.ttf");
  font-style: regular;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Medium.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-SemiBold.ttf");
  font-style: semi-bold;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Bold.ttf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-ExtraBold.ttf");
  font-style: extra-bold;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Black.ttf");
  font-style: black;
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Fira_Code/FiraCode-Light.ttf");
  font-style: light;
  font-weight: 100;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

.next-logo-animate {
  stroke-dasharray: 6000;
  stroke-dashoffset: 6000;
  stroke-width: 5px;
  animation: draw 12s linear forwards infinite;
}

@keyframes draw {
  from {
    stroke-dashoffset: 6000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.link::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  margin-right: 5px;
  transform: rotate(25deg);
  border-radius: 100%;
  background-color: #64ffda;
}
